<h1>Mini Facebook</h1>
<a href = "{% url 'home' %}">Home</a>
<center><h3>{{profile.first_name}} {{profile.last_name}}</h3></center>
<img src = "{{profile.profile_image_url}}" style = "max-width: 400;">
<p>{{profile.email_address}}</p>
<p>{{profile.city}}</p><br>
<h2>Status Messages</h2><br>

<table>

    <tr>
        <th>Time</th>
        <th>Message</th>
    </tr>

    {% for status in profile.get_status_message %}
    <tr>
        <td>{{status.timestamp}} </td>
        <td>{{status.message}}</td>
    </tr>
    {% endfor %}
</table>