<h1>Mini Facebook</h1>
<h2>Showing All Profiles</h2>

<table>
    {% for profile in all_profile_list %}

    <tr>
        <th>Name</th>
        <th>Hometown</th>
        <th>Image</th>
    </tr>

    <tr>
        <td><a href = "{% url 'profile' profile.pk %}">{{profile.first_name}} {{profile.last_name}}</a></td>
        <td>{{profile.city}}</td>
        <td><a href = "{% url 'profile' profile.pk %}"><img src = "{{profile.profile_image_url}}" style = "max-width: 400;"></a></td>
    </tr>
    {% endfor %}
</table>